<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center>
<form id="form1" name="form1" method="post" action="/login1">
<p>&nbsp;</p>
<p>&nbsp;</p>
<table width="200" border="0">
  <tr>
    <td width="90">Username</td>
    <td width="94"><label for="txt"></label>
      <input type="text" name="txt2" id="txt" /></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><label for="txt2"></label>
      <input type="text" name="txt3" id="txt3" required="required" /></td>
  </tr>
  <tr align="center">
    <td height="47" colspan="2"><p>
      <input type="submit" name="txt" id="txt" value="Login" required="required"/>
      </p>
      </div>
    </td>
  </tr>
</table>
</form>
</center>
</body>
</html>
