<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="2">
      <tr>
        <th colspan="2" scope="row"><H2>RECIPE</H2></th>
      </tr>
      <tr>
        <th colspan="2" scope="row"><a href="/admin_view_recipe">View User Recipes</a></th>
      </tr>
        <tr>
        <th colspan="2" scope="row">Manage Recipes<br /><a href="/manage_recipe_add">Add</a>&nbsp;&nbsp;<a href="/manage_recipe_view">View</a></th>
      </tr>
      <tr>
        <th colspan="2" scope="row">Manage Recipes<br /><a href="/manage_recipe_add">Add</a>&nbsp;&nbsp;<a href="/manage_recipe_view">View</a></th>
      </tr>
      <tr>
        <th colspan="2" scope="row">Manage Vegetables<br /><a href="/manage_veg_add">Add</a>&nbsp;&nbsp;<a href="/manage_veg_view">View</a></th>
      </tr>
      <tr>
        <th colspan="2" scope="row">Manage Ingredients<br /><a href="/manage_ingredients_add">Add</a>&nbsp;&nbsp;<a href="/manage_ingredients_view">View</a></th>
      </tr>
      <tr>
        <th colspan="2" scope="row"><a href="/view_feedback">Feedback</a></th>
      </tr>
      <tr>
        <th colspan="2" scope="row"><a href="/view_rating">Rating</a></th>
      </tr>
    </table>
  </div>
  

</form>

</body>
</html>
